{% extends "layouts/main.html" %}

{% block title %}DESKIVO — Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="file:///{{ assets }}/css/home.css">

{% endblock %}

{% block menu %}
{% include "../partial/header.html" %}
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h4 class="mb-4 fw-semibold">
        <i class="fa-solid fa-chart-line me-2 text-primary"></i>
        Painel Principal
    </h4>

    <div class="row g-3">


    </div>

</div>

{% endblock %}